
/***** Ornements ******/ 


/* lignes ornementales */

.separation {
    display: flex; 
    flex: 1;
    width: 10%;
    margin: 0 auto;
    margin-bottom: 10px;
    transition: 1s;
}


header .separation {
    margin-top: -110px;
}


.separation::before {
        display: block; 
        content:'';
        flex: 1; 
        height: 4px;
        align-self: center; 
        border-bottom: 1px solid ; 
}

.separation::after {display: block; 
        content:'';
        flex: 1; 
        height: 4px;
        align-self: center; 
        border-bottom: 1px solid ; 
}




/** CONTACTES **/ 

.formation, .experiance {
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
}


.contacte {
    position: relative; 
    top : -120px; 
    display: flex; 
    flex-direction: row-reverse;
    justify-content: center; 
    align-self: center; 
    width: 85%;
    max-width: 1300px; 
    margin: 0 auto; 
}

.info {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    width: 50%;
}


.moi { 
    width: 50%; 
    height : 50%; 
}




  /** contenu info **/ 

.contacte h2:after {
    content: "§"; 
    display: block; 
    transform: rotate(90deg);
    font-size: 20px;
    margin: 10px 0px 20px 0px; 
    line-height: 25px;
}



  /** Info pour téléphone **/ 

@media (max-width:750px) {
    .media {
    position: relative; 
    top : -80px; 
    }
    .contacte {
    position: relative; 
    top : -50px; 
    flex-direction: column-reverse;
    width: 100%; 
    }
    .moi {
    width: 100%;
    }
    
    .info {
    width: 100%; 
    padding: 10rem 0% 
    }
    
}


    /******************/
   /****** MAINE *****/
/******************/



  /** COMPETANCES **/ 

.comp {
    width: 100%; 
    max-width: 1550px; 
    margin: 0 auto; 
    padding : 5em 0px; 
}


.note { 
    padding-bottom : 30px
}

  /** COMPETANCES **/ 

  /** interieur **/ 

.box1, .box2 {
    display: flex; 
    align-self: center; 
    justify-content: center; 
    width: 100%; 
    max-width: 1550px; 
    text-align: center; 
}

.box2 {
    flex-direction: row-reverse; 
}

.divmain { 
    width: 50%; 
    padding: 300px 0px;
}



.cont { 
    justify-content: center; 
    flex-direction: column;
    width: 50%; 
    display: flex; 
    
}


.pic { 
    flex-grow: 1; 
}


.mc {
    display: flex; 
    flex-grow: 1;  
    flex-direction: column; 
    justify-content: center; 
    padding: 1rem 6rem;
}




@media (max-width:750px) {
    .box1, .box2 {
        flex-direction: column; 
    }
    
    .divmain, .cont {
        width: 100%
    }
    
    .pic, .mc {
        height: 300px; 
    }
    
}



  /*** logicielles ***/

.logicielles { 
    width: 85%; 
    margin: 0 auto; 
    padding-top: 80px; 
}



.liste {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 140px; 
}


.logicielles p {
    padding: 10px; 
    text-align: center; 
}


.logicielles p img {
    display: block; 
    width: 100px; 
    margin-bottom: 10px; 
    border-radius: 100px;
}



  /*** voir aussi ***/ 

.mesamies { 
    background-color: #fff; 
}

.sizeblock { 
    width: 80%;
    margin: 0 auto;
}

.mesamies p {
    width: 30%; 
    margin: 10px; 
    text-align: center; 
    font-size: 25px;
}


.mesamies {
    padding: 80px 0px; 
}

.mesamies p img {
    display: block; 
    width: 100%; 
    padding: 20px 0px; 
}




.social {
    position: relative;
    top: 50px;
    width: 200px;
    margin: 0 auto;
    padding: 1rem;
    border-top: .5px rgba(128, 128, 128, 0.527) solid;
    border-bottom: .5px rgba(128, 128, 128, 0.527) solid;
}




.animation_suite.separation {
    width: 85%;
}


//*annime//

.formation .annimation {
    opacity:0;
    transform: translateY(50px);
}

.formation  .animation_suite {
    opacity:1;
    transform: translateY(0px);
    transition: transform 1s;
}

.experiance .annimation {
    opacity:0;
    transform: translateY(50px);
}

.experiance  .animation_suite {
    opacity:1;
    transform: translateY(0px);
    transition: transform 1s;
}